.custom-swiper .swiper-scrollbar {
    background: rgba(255, 255, 255, 0.3);
    /* Track color */
    height: 4px;
    /* Thickness */
    border-radius: 4px;
    /* Rounded edges */
}

.custom-swiper .swiper-scrollbar-drag {
    background: #ffffff;
    /* Draggable bar color */
    /* border-radius: 4px; */
}


/* Hide arrows by default */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show arrows on hover of the Swiper */
.custom-swiper:hover .swiper-button-next,
.custom-swiper:hover .swiper-button-prev {
    opacity: 1;
}
.justify-between {
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-6 {
    padding-left: 5rem;
    padding-right: 5rem;
}
#text{
    font-size: 20px;
}